<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>SafeRide Dispatch History</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
</script>
   <!-- Our own style sheet -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/memos.css') }}" />
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='apple-touch-icon-57x57.png')}}">
<link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='apple-touch-icon-60x60.png')}}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='apple-touch-icon-72x72.png')}}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='apple-touch-icon-76x76.png')}}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='apple-touch-icon-114x114.png')}}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='apple-touch-icon-120x120.png')}}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='apple-touch-icon-144x144.png')}}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='apple-touch-icon-152x152.png')}}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon-180x180.png')}}">
<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon-32x32.png')}}" sizes="32x32">
<link rel="icon" type="image/png" href="{{ url_for('static', filename='android-chrome-192x192.png')}}" sizes="192x192">
<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon-96x96.png')}}" sizes="96x96">
<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon-16x16.png')}}" sizes="16x16">
<link rel="manifest" href="{{ url_for('static', filename='manifest.json')}}">
<link rel="mask-icon" href="{{ url_for('static', filename='safari-pinned-tab.svg')}}" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="{{ url_for('static', filename='mstile-144x144.png')}}">
<meta name="theme-color" content="#ffffff">
</head>
<body>
<div class="container">
<!-- Flashed messages before content -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<img src="static/saferide_banner.png" class="img-responsive">
<b><ul class="nav nav-tabs">
  <li><a href="dispatch" data-toggle="tooltip" title="Home page of SafeRide schedule">Home</a></li>
  <!--<li><a href="testd" data-toggle="tooltip" title="Deletes all entries from database">Delete All</a></li>-->
  <li><a href="dispatchnew" data-toggle="tooltip" title="New request from phone call">Insert New Entry</a></li>
  <li class="active"><a href="#" data-toggle="tooltip" title="History of finished requests">History</a></li>
  <li><a href="dtallies" data-toggle="tooltip" title="Generate tallies">Tallies</a></li>
  <li><a href="logout" data-toggle="tooltip" title="Logout the current account">Logout</a></li>
</ul></b>
</div>
<div class="container-fluid">
{% if session.memos %}
<table class="table table-striped"><b>
  <tr><td class="td.a">
  
    <div class="col-md-1"><p class="h3">
    Time:</p>
    </div>
    <div class="col-md-1"><p class="h3">
    Riders:</p>
    </div>
    <div class="col-md-1"><p class="h3">
    Pick Up:</p>
    </div>
    <div class="col-md-1"><p class="h3">
    Drop Off:</p>
    </div>
    <div class="col-md-1"><p class="h3">
    Name:</p>
    </div>
    <div class="col-md-1"><p class="h3">
    Phone:</p>
    </div>
    <div class="col-md-1"><p class="h3">
    UOID#:</p>
    </div>
    <div class="col-md-1"><p class="h3">
    Bike:</p>
    </div>
    <div class="col-md-1"><p class="h3">
    Notes:</p>
    </div>
    <div class="col-md-1"><p class="h3">
    Distance:</p>
    </div>  
    <div class="col-md-1"><p class="h3">
    Duration:</p>
    </div>
    <div class="col-md-1"><p class="h3">
    On Campus:</p>
    </div>
 </td></tr>
  {% for memo in session.memos %}
  {% if memo.history == "old" %}

  <div class="memo">
  <tr><td class="td.a">
  <div class="row"><b>
    <div class="col-md-1">
     {{ memo.time }}
    </div>
    <div class="col-md-1">
    {{ memo.riders }}
    </div>
    <div class="col-md-1">
    {{ memo.pickup }}
    </div>
    <div class="col-md-1">
    {{ memo.dropoff }}
    </div>
    <div class="col-md-1">
    {{ memo.name|decryptMe }}
    </div>
    <div class="col-md-1">
    {{ memo.phone|decryptMe|phonenumber }}
    </div>
    <div class="col-md-1">
    {{ memo.uoid|decryptMe|formatUOID }}
    </div>
    <div class="col-md-1">
    {{ memo.bike }}
    </div>
    <div class="col-md-1">
    {{ memo.comments|decryptMe}}
    </div>
    <div class="col-md-1">
    {{ memo.distance }}
    </div>
    <div class="col-md-1">
    {{ memo.estimate }}
    </div>
    <div class="col-md-1">
    {{ memo.oncampus }}
    </div>
  </div>



</b>

<div class="row">
  <div class="col-md-1">
    <form action="{{ url_for('takehistory') }}" method=post>
    <input type="hidden" class="form-control" name="my_id" value="{{ memo.my_id }}" />
    <input type="submit" class="btn btn-primary" data-toggle="tooltip" title="Undo the deletion" value="Undelete From History"/>
    </form>
  </div>
</div>

</td></tr></div>

 
  </div> <!-- memo -->
  {% endif %}
  {% endfor %}
{% else %}
  <p>No riders for you. </p>  
{% endif %}




</div> <!-- container -->




</body>

<script type="text/javascript">

 

</script>


</html>
