<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>SafeRide Dispatch History</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
</script>
   <!-- Our own style sheet -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/memos.css') }}" />
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='apple-touch-icon-57x57.png')}}">
<link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='apple-touch-icon-60x60.png')}}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='apple-touch-icon-72x72.png')}}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='apple-touch-icon-76x76.png')}}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='apple-touch-icon-114x114.png')}}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='apple-touch-icon-120x120.png')}}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='apple-touch-icon-144x144.png')}}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='apple-touch-icon-152x152.png')}}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon-180x180.png')}}">
<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon-32x32.png')}}" sizes="32x32">
<link rel="icon" type="image/png" href="{{ url_for('static', filename='android-chrome-192x192.png')}}" sizes="192x192">
<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon-96x96.png')}}" sizes="96x96">
<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon-16x16.png')}}" sizes="16x16">
<link rel="manifest" href="{{ url_for('static', filename='manifest.json')}}">
<link rel="mask-icon" href="{{ url_for('static', filename='safari-pinned-tab.svg')}}" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="{{ url_for('static', filename='mstile-144x144.png')}}">
<meta name="theme-color" content="#ffffff">


  <script src="static/requestConfig.js"></script>
  

</head>
<body>
<div class="container">
<!-- Flashed messages before content -->
{%set count = [0] %}
{%set count_on_campus = [0] %}
{%set count_off_campus = [0] %}



{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<img src="static/saferide_banner.png" class="img-responsive">
<b><ul class="nav nav-tabs">
  <li><a href="dispatch" data-toggle="tooltip" title="Home page of SafeRide schedule">Home</a></li>
  <!--<li><a href="testd" data-toggle="tooltip" title="Deletes all entries from database">Delete All</a></li>-->
  <li><a href="dispatchnew" data-toggle="tooltip" title="New request from phone call">Insert New Entry</a></li>
  <li><a href="dhistory" data-toggle="tooltip" title="History of finished requests">History</a></li>
  <li class="active"><a href="#" data-toggle="tooltip" title="Generate tallies">Tallies</a></li>
  <li><a href="logout" data-toggle="tooltip" title="Logout the current account">Logout</a></li>
</ul></b>
</div>
<div class="container-fluid">

{% if session.tallies %}
<form action="/deltallies" >
  <input type="submit" class="btn btn-primary" value="Remove all tallies" data-toggle="tooltip" title="deletes all counted entries from database">
</form>
<table class="table table-striped"><b>
  <tr><td class="td.a">
  
    <div class="col-md-3"><p class="h3">
    Date:</p>
    </div>
    <div class="col-md-3"><p class="h3">
    Number of Rides:</p>
    </div>
    <div class="col-md-3"><p class="h3">
    Number on Campus Up:</p>
    </div>
    <div class="col-md-3"><p class="h3">
    Number off Campus:</p>
    </div>
 </td></tr>

  {% for dtally in session.tallies %}

  <div class="memo">
  <tr><td class="td.a">
  <div class="row"><b>
    <div class="col-md-3">
     {{ dtally.date }}
    </div>
    <div class="col-md-3">
    {{ dtally.numrides }}
    {% if count.append(count.pop() + dtally.numrides) %}{% endif %}
    </div>
    <div class="col-md-3">
    {{ dtally.num_oncampus }}
    {% if count_on_campus.append(count_on_campus.pop() + dtally.num_oncampus) %}{% endif %}
    </div>
    <div class="col-md-3">
    {{ dtally.num_offcampus }}
    {% if count_off_campus.append(count_off_campus.pop() + dtally.num_offcampus) %}{% endif %}
    
    </div>



</b>


</td></tr></div>

 
  
  {% endfor %}
  </table>
{% else %}
  <p>No tallies for you. </p>  
{% endif %}

</div>


<div class ="row">
<div class="col-md-9">
Total Rides Counted:{{count}} On Campus:{{count_on_campus}} Off Campus:{{count_off_campus}}
</div></div>




</body>

<script type="text/javascript">

 

</script>


</html>
